<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest"
               mimeType="text/cache-manifest" />
      <mimeMap fileExtension=".svg"
               mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>